---
---

@keyframes rotation {
  from {
    transform: rotateX(0);
  } 

  to {
    transform: rotateX(360deg);
  }
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    position: relative;
    height: 100px;
    width: 100px;
    .front {
      z-index: 1;
      position: absolute;
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
      background-color: goldenrod;
    }
    .back {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
      background-color: gray;
      // transform-origin: top center;
      // transform: rotateX(180deg) translateZ(50px);
    }
    // perspective: 1000px;
    &.rotation {
      transition: none;
      transform-origin: left top 300px;
      animation: 3s linear rotation infinite forwards;
    }
  }

}