---
---

@keyframes rotation {
  from {
    transform: rotateX(0);
  } 

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  // perspective-origin: 1500px center;
  .card {
    height: 100px;
    width: 100px;
    transform-style: preserve-3d; // 这个选项对于实现3d效果非常重要，没有的话，没有3d效果
    .front {
      width: 100px;
      height: 100px;
      background-color: goldenrod;
      transform: translateZ(4px);
    }
    .back {
      width: 100px;
      height: 100px;
      background-color: gray;
      transform: translateY(-100px);
      // transform-origin: top center;
      // transform: rotateX(180deg) translateZ(50px);
    }
    .top {
      width: 100px;
      height: 4px;
      background-color: blue;
      transform-origin: bottom center;
      transform: rotateX(90deg) translateY(4px);
    }
    .bottom {
      width: 100px;
      height: 4px;
      background-color: yellow;
      transform-origin: top center;
      transform: translate3d(0, -100px, 0px) rotateX(90deg);
    }
    .left {
      width: 4px;
      height: 100px;
      background-color: darkcyan;
      transform-origin: left center;
      transform: translate3d(0, -204px, 0px) rotateY(-90deg);
    }
    .right {
      width: 4px;
      height: 100px;
      background-color: violet;
      transform-origin: left center;
      transform: translate3d(100px, -304px, 0px) rotateY(-90deg);
    }
    &.turn {
      transform: rotateX(24deg) rotateY(75deg);
    }
    &.rotation {
      transition: none;
      transform-origin: left top 300px;
      animation: 6s linear rotation infinite forwards;
    }
  }

}