---
---

@keyframes rotation {
  from {
    transform: rotateX(0);
  } 

  to {
    transform: rotateX(360deg);
  }
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    height: 100px;
    width: 100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    .front {
      width: 100px;
      height: 100px;
      background-color: goldenrod;
    }
    .back {
      width: 100px;
      height: 100px;
      background-color: gray;
      transform: translateY(-100px) translateZ(-10px);
      // transform-origin: top center;
      // transform: rotateX(180deg) translateZ(50px);
    }
    &.rotation {
      transition: none;
      transform-origin: left top 300px;
      animation: 3s linear rotation infinite forwards;
    }
  }

}